<section id="services" class="services">

    <!-- ======= Hero Section ======= -->
    <section id="hero" style="padding-top: 150px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>Somos <span>Agrointec</span></h1>
                    <p>Incubadora y aceleradora de empresas agrícolas de presición.</p>
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <!-- ======= End Page Header ======= -->
    <div class="mt-3 align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <iframe width="100%" height="520"
                    src="https://www.youtube-nocookie.com/embed/ixZVVgGS-mU?si=Sj8iOAeMeq2q2EZU"
                    title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
            picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>  

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="section-header">
                <h2>Testimonios</h2>
                <p>Algunas personas que han dado su opión sobre nuestro emprendimiento</p>
            </div>

            <div class="slides-3 swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                Gracias al programa, no solo encontré un trabajo, sino que también descubrí mi pasión por la agricultura sostenible.
                                Ahora soy dueño de mi propio negocio agrícola y estoy contribuyendo a un futuro más verde para Ibagué.
                            </p>
                            <div class="profile mt-auto">
                                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Carlos M.</h3>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                La red de apoyo que se crea es invaluable. No solo aprendí sobre agricultura, sino que también hice conexiones con
                                personas que comparten mi visión y con quienes ahora colaboro en varios proyectos.
                            </p>
                            <div class="profile mt-auto">
                                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Luisa P.</h3>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                El enfoque de conectar nuestros productos con mercados ha sido esencial. No solo cultivamos alimentos de calidad, sino
                                que también tenemos lugares donde venderlos. Esto ha garantizado el éxito y crecimiento de mi empresa.
                            </p>
                            <div class="profile mt-auto">
                                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Gabriela R.</h3>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
</section>