<section id="services" class="services" style="padding-top: 150px;">
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="section-header">
                <h2>Fuentes de financiación</h2>
            </div>

            <div class="slides-3 swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <a href="https://www.fondoemprender.com//SitePages/Home.aspx" target="_blank">
                            <div class="testimonial-item">
                                <p>El Fondo Emprender del SENA fomenta la creación de empresas y la generación de empleo en Colombia a través de capital
                                semilla condonable y reembolsable.</p>
                                <div class="profile mt-auto">
                                    <img src="assets/img/testimonials/fondo-emprender.jpeg" class="testimonial-img"
                                        alt="">
                                    <h3>Fondo Emprender</h3>
                                </div>
                            </div>
                        </a>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <a href="https://www.bancoagrario.gov.co" target="_blank">
                            <div class="testimonial-item">
                                <p>
                                    El Banco Agrario de Colombia es una entidad financiera estatal fundada en 1999 sociedad distinta de la Caja Agraria,
                                    como sociedad anónima con régimen de empresa industrial y comercial del estado colombiano, su sede principal se
                                    encuentra en la ciudad de Bogotá y tiene cobertura en todo el territorio colombiano.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="assets/img/testimonials/agrario.jpeg" class="testimonial-img"
                                        alt="">
                                    <h3>Banco Agrario de Colombia.</h3>
                                </div>
                            </div>
                        </a>
                    </div><!-- End testimonial item -->

                </div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
</section>