<section id="services" class="services" style="padding-top: 150px;">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-header">
                <h2>Servicios de asesorías</h2>
            </div>

            <div class="row gy-4 justify-content-center">
                <div class="col-lg-4">
                    <img src="assets/img/testimonials/agro.jpeg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-5 content">
                    <h2>Asesorías tecnológicas agrícolas</h2>
                    <p class="fst-italic py-3">
                        En Agrointec nuestra estrategia agrícola se basa en tecnología avanzada. Implementamos sensores y análisis de
                        datos para mejorar la producción agrícola, optimizando el uso de recursos y facilitando la conexión de agricultores con
                        mercados a través de una plataforma digital. Ofrecemos capacitación y promovemos prácticas agrícolas sostenibles.
                        Nuestro objetivo es fortalecer el sector agrícola en Ibagué, brindando a los agricultores las herramientas necesarias
                        para prosperar y contribuir al crecimiento sostenible de la ciudad.
                    </p>
                </div>
            </div>

            <div class="row gy-4 mt-4 justify-content-center">
                <div class="col-lg-5 content">
                    <h2>Asesorías administrativas</h2>
                    <p class="fst-italic py-3">
                        Nuestra gestión administrativa en Agrointec se enfoca en garantizar la eficiencia y el cumplimiento
                        de
                        objetivos. Esto incluye la selección y capacitación de personal multidisciplinario, gestión presupuestaria
                        rigurosa,
                        comunicación efectiva interna, colaboración con socios locales y autoridades, toma de decisiones ágil basada
                        en datos y
                        transparencia en todas las operaciones. Nuestro compromiso es asegurar que nuestras soluciones tecnológicas
                        aborden
                        eficazmente los desafíos de la ciudad de Ibagué.
                    </p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/testimonials/admin.jpeg" class="img-fluid" alt="">
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
</section>