<section id="services" class="services" style="padding-top: 150px;">

    <section id="about" class="about">
        <div class="container">
    
            <div class="section-header">
                <h1>Nosotros</h1>
            </div>
    
            <div class="row gy-6 justify-content-center">
                <div class="col-lg-4">
                    <img src="assets/img/testimonials/mision.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-5 content">
                    <h2>Visión</h2>
                    <p class="fst-italic py-3">
                        "Ser el principal catalizador del crecimiento agrícola sostenible en Ibagué, transformando la vida de miles de jóvenes
                        al proporcionarles las herramientas y recursos necesarios para convertirse en líderes empresariales en el sector
                        agropecuario."
                    </p>
                </div>
            </div>
    
            <div class="row gy-4 mt-4 justify-content-center">
                <div class="col-lg-5 content">
                    <h2>Misión</h2>
                    <p class="fst-italic py-3">
                        "Empoderar a jóvenes emprendedores de Ibagué para combatir el desempleo a través de la promoción y el desarrollo de
                        empresas agropecuarias sostenibles, fomentando así una comunidad agrícola innovadora, próspera y sostenible."

                    </p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/testimonials/vision.jpeg" class="img-fluid" alt="">
                </div>
            </div>
    
        </div>
    </section><!-- End About Section -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Propuesta de valor</h2>
                    <p>El desarrollo de empresas agropecuarias brinda a los jóvenes una oportunidad de convertirse en
                        dueños
                        de
                        sus propios
                        negocios, para ello no solo les brindamos independencia financiera, sino también las siguientes
                        características:</p>
                </div>
            </div>
        </div>
    </div><!-- End Page Header -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="row gy-3">
                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-activity"></i>
                        <h4><a class="stretched-link">Creación de Empleo Directo</a></h4>
                        <p>Al respaldar a jóvenes emprendedores en el establecimiento y crecimiento de sus propias
                            empresas
                            agrícolas, generamos
                            oportunidades laborales directas. Cada nueva empresa agrícola puede contratar a trabajadores
                            locales, lo que contribuye
                            significativamente a la disminución del desempleo juvenil.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-bounding-box-circles"></i>
                        <h4><a class="stretched-link">Fomento de la Agricultura Sostenible</a></h4>
                        <p>La agricultura sostenible es un campo en crecimiento que se centra en prácticas respetuosas
                            con
                            el medio ambiente y en
                            la producción de alimentos de alta calidad. Al entrenar a los jóvenes en estas prácticas,
                            creamos una fuerza laboral
                            capacitada y preparada para un sector que tiene un gran potencial de crecimiento.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-calendar4-week"></i>
                        <h4><a class="stretched-link">Desarrollo de una Comunidad Emprendedora</a></h4>
                        <p>Creamos una comunidad de jóvenes emprendedores agrícolas que se apoyan mutuamente y comparten
                            conocimientos. Esta red de
                            apoyo contribuye a la creación de nuevas oportunidades laborales y colaborativas.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-broadcast"></i>
                        <h4><a class="stretched-link">Conexión con Mercados</a></h4>
                        <p>Al establecer conexiones con mercados locales y nacionales, aseguramos que los productos
                            agrícolas sostenibles tengan
                            una salida segura. Esto fomenta la expansión de los negocios y, en consecuencia, la creación
                            de
                            empleo.</p>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>
    </section><!-- End Services Section -->


</section>